{% extends "base1.html" %}<!--Heredado o extendido de base1.html -->

{% block content %}<!-- Esto es lo que irá en las etiquetas de block content que dejamos vacías en base1.html Nota: si coloco dentro de este comentario el block content con sus llaves y signos de porcentajes ({% block cont...) para referenciar como ejemplo, levanta una excepción diciendo que está duplicada dicha etiqueta. Este comentario no la invisibiliza, por lo cual no las pude poner. -->
<div class="w3-panel w3-red">
<p><h1>Librería Del Pueblo</h1></p>
</div>
<div class="w3-container">
  <p>Bienvenido a la <em>biblioteca local</em>, un website muy básico desarrollado en el framework backend django,por Mozilla Developer Network.</p>
 <div class="w3-row">
 <div class="w3-third"><p>     </p></div> 
 <div class="w3-third">
  <ul class="w3-ul w3-card-4" style="width:100%">
    <li><h3>Estadísticas de la librería:</h3></li>
    <li><strong>Libros:</strong> {{ cant_libros }}</li>
    <li><strong>Copias:</strong> {{ cant_instancias }}</li>
    <li><strong>Copias disponibles:</strong> {{ cant_inst_dispon }}</li>
    <li><strong>Autores:</strong> {{ cant_autores }}</li>
    <li><strong>Generos:</strong> {{ cant_generos }}</li>
  </ul>
 </div> 
 <div class="w3-third"><p>     </p></div>
 
 </div>
<p>Has visitado esta página {{ cantVisitas }}{% if cantVisitas == 1 %} vez {% else %} veces {% endif %}. <a href="{% url 'resetearVisitas' %}">Reestablecer contador</a></p>
</div>

{% endblock %}
