{% load static %} <!-- Sin esta etiqueta no se cargará el favicon que está en el directorio de los estáticos. -->
<!DOCTYPE html>
<html lang="en">
<head>
  
  <link rel="icon" type="image/svg" href="{% static '/images/djangoIco.svg' %}"><!-- Link para el favicon. -->
  {% block title %}<title>Librería Municipal</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <!-- Agregamos el favicon: -->
  <link rel="shortcut icon" type="image/svg" href="{% static 'images/logoEmpresa.svg' %}">
</head>

<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-3">
      {% block barraLateral %}
      <ul class="sidebar-nav">
          <li><a href="{% url 'vistaHome' %}">Home</a></li>
          <li><a href="{% url 'todosLoslibros' %}">Todos los libros</a></li>
          <li><a href="{% url 'toditicosLosAutores' %}">Todos los autores</a></li>
          <li><a href="/admin">Ir a admin</a></li>
          <li><a href="{% url 'resetearVisitas' %}">Reestablecer contador</a></li>
          {% if user.is_authenticated %}
            <li>Usuario: {{ user.get_username }} {% if user.groups.all.0.name == "bibliotecarios" %} es bibliotecario {% if user.is_staff %} y perteneca al staff (puede eliminar libros y autores){% endif %}{% else %} y es un usuario normalito{% endif %}</li>
            
            <li><a href="{% url 'misLibrosalquilados' user.get_username %}">Libros en manos de {{ user.get_username }} </a></li>
            <li><a href="{% url 'logout'%}?next={{request.path}}">Cerrar sesión</a></li>      
            {% if perms.catalogo.puedeMarcarRetornado %}
              <li></li>
              <hr>
              <li></li>
              <li>Bibliotecario</li>
              <li><a href="{% url 'librosAlquiladosActualmente' %}">Todos los libros prestados actualmente por la biblioteca</a></li>
              <li><a href="{% url 'crearautorini' %}">Crear Autor</a></li>
              <li><a href="{% url 'crearlibro' %}">Crear Libro</a></li>
              {% endif %}
          {% else %}
          <li><a href="{% url 'login'%}?next={{request.path}}">Iniciar sesión</a></li>
       {% endif %}   
      </ul>
          
     {% endblock %}
      </div>
      <div class="col-sm-7 ">
<!-- Bloque para sobreescribir en la plantilla heredera o hija -->
      {% block content %}{% endblock %}

<!-- Comienzo bloque de implementación de la paginación: -->
{% block pagination %}
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">anterior</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">siguiente</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
{% endblock %}
<!-- Fin del bloque de la implementación de la paginación -->
      </div>
    </div>

  </div>
 <div>
    <hr>
    <p style="text-align: center;">pie</p>
    <hr>
 </div>
</body>
</html>