{% extends "base1.html" %}

{% block content %}
    <h1>Lista de Autores</h1>

    {% if autor_list %}
    <ul>

      {% for objetoX in autor_list %}
      <li>
        <a href="{{ objetoX.get_absolute_url }}">
      {{ objetoX }} </a>(id:{{ objetoX.id }}) ({{objetoX.nacimiento}} - {% if objetoX.muerte %}{{objetoX.muerte}}{% endif %}) {% if perms.catalogo.puedeMarcarRetornado %}<a href="{% url 'actualizarEsteAutor' objetoX.id %}">Actualizar</a> {% endif %}{% if user.is_staff %}<a href="{% url 'borrar-autor' objetoX.id %}">-Borrar</a>{% endif %}
      </li>
      {% endfor %}
    <br>
    <br>
    <p>Variable de contexto autor_list: {{ autor_list }}</p>
    </ul>
    <br>
    {% else %}  
      <p>No hay libros en la biblioteca.</p>
    {% endif %}
    <br>
    <p><a href="{% url 'librosConBarbara' %}">Libros con barbara</a></p>
{% endblock %}

